body {
  background-color:rgb(240, 240, 240);
}




h1 {
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 600;
  margin-left: 20px;
}

h3 {
font-size: 40px;
font-weight: 300;
font-family: 'Courier New', Courier, monospace;
color:rgb(39, 59, 226);
margin-left: 20px;
margin-bottom: 40px;
margin-top: 40px;
}

p {
  margin-left: 20px;
  margin-bottom: 30px;
  font-size: 30px;
  color: rgb(19, 4, 87);
}

img {
  height: 300px;
  width: 300px;
  border: 4px solid black;
  margin-left: 80px;
}